h1 {
    font-size: 40px;
    margin: auto;
    /*width: 50%;*/
    padding: 10px;
    text-align: center;
    margin-top: 90px;
}

p {
    font-size: 22px;
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    display: inline;
    text-align: right;
    font-size: 20px;
}

.start_btn {
    background-color: blueviolet;
    color: white;
    text-align: center;
    width: 150px;
    height: 50px;

}

.pAnswer {
    border-top:black 2px solid;
    padding-top: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.choice {
    background-color: blueviolet;
    color: white;
    margin: 5px;
    width: fit-content;
    padding: 5px;
    border:black 1px solid;
    /*max-width: 80px;*/
}

#container {
    width: 40%;
    margin:auto;
}

#start {
    width: fit-content;
    margin: auto;
}

#quiz {
    width: fit-content;
    margin: auto;
    padding-top: 120px;
}


#question {
    font-weight: bolder;
}

nav {
    padding-top: 20px;
}